@mixin spritebox($left, $top, $height, $width) {
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    background-position: $left $top;
    height: $height;
    width: $width;
}

@mixin spritebox___2($left, $top, $height, $width) {
    background-image: url(../img/spritebox-sprite___2.png);
    background-repeat: no-repeat;
    background-position: $left $top;
    height: $height;
    width: $width;
}

@mixin spritebox___3($left, $top, $height, $width) {
    background-image: url(../img/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: $left $top;
    height: $height;
    width: $width;
}

@mixin spritebox___4($left, $top, $height, $width) {
    background-image: url(../img/spritebox-sprite3.png);
    background-repeat: no-repeat;
    background-position: $left $top;
    height: $height;
    width: $width;
}