$geralBlue: #aab5c9;
$white: #fff;
$darkPinc: #896c81;
$violete: #9789f9;
$darkGray: #333;
$gray: #3b3b3b;
$graydark: #5d5d5d;
$graydarker:#181818;
$greenolight: #01995a;
$yellowlight: #fdde7e;
$graylighter:#e2e7ec;
$graylitest:#f5f4f9;
$grayMedeum: #808080;
$graydarkdark:#1d1c1c;
$bluelight: #6fcefb;
$redlight:#fd8d7b;