$geralBlue: #aab5c9;
$white: #fff;
$whiteL:#fffefe;
$quasiwhite:#f9f8fb;
$darkPinc: #896c81;
$violete: #9789f9;
$violetelighter:#b07cf7;
$blackgray:#222222;
$darkGray: #333;
$darkGray2:#3f444a;
$gray: #3b3b3b;
$graydark: #5d5d5d;
$graylightly:#b8b8b8;
$graydarker:#181818;
$greenolight: #01995a;
$salada:#95b92b;
$yellowlight: #fdde7e;
$yellow:#ffe92f;
$graylighter:#e2e7ec;
$graylitest:#f5f4f9;
$grayMedeum: #808080;
$graydarkdark:#1d1c1c;
$grayMediuml:#808b90;
$bluedark:#355b82;
$blueL:#07a9f4;
$bluelight: #6fcefb;
$bluelight2:#70bfff;
$seleste: #7ee0e0;
$cordemar:#00c4c4;
$redlight:#fd8d7b;
$redrose:#eb4747;