@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin text-elipsis($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $heigh;
}

@mixin display-flex($flex-direction, $align-horizontal, $align-vertical) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $align-horizontal;
    align-items: $align-vertical;
}

@mixin button-bg-1($color) {
    background: $color;
    &:hover {
        background: darken($color, 15%);
    }
}

@mixin button-bg-2($color-1, $color-2) {
    background: $color-1;
    color: $color-2;
    &:hover {
        background: $color-2;
        color: $color-1;
    }
}

@mixin transition($seconds, $style: ease-in-out) {
    transition: $seconds $style;
}