.getintouch {
    margin: 0 auto;
    max-width: 1600px;
    height: 800px;
    background-image: url('./../img/bg3.png');
    &__conteiner {
        margin: 0 auto;
        max-width: 670px;
        height: 100%;
        @include display-flex(column,
        center,
        center);
        &--header {
            font-family: 'Lato';
            font-size: 26px;
            font-weight: 500;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 70px;
        }
        &--separation {
            width: 88px;
            height: 2px;
            background-color: $white;
            margin-bottom: 65px;
        }
        &--socials {
            @include display-flex(row,
            center,
            center);
            margin-bottom: 65px;
            &_item {
                margin: 10px;
                width: 24px;
                height: 24px;
                color: $white;
            }
            &_item5 {
                font-size: 24px;
                margin: 10px;
            }
            &_item4 {
                width: 40px;
                height: 40px;
                margin: 10px;
            }
            &_item2 {
                margin: 10px;
                width: 36px;
                height: 36px;
                color: $white;
            }
        }
        &--form {
            width: 100%;
            max-height: 350px;
            @include display-flex(column,
            center,
            center);
            &_item {
                @include display-flex(row,
                space-between,
                center);
                height: 46px;
                width: 100%;
                margin-bottom: 65px;
                vertical-align: middle;
            }
        }
    }
}

.fa-behance {
    display: block;
    height: 100%;
    width: 100%;
    color: $white;
    transition: 0.3s ease-in-out;
    /* margin-top: 5px;          */
    &:hover {
        color: $blueL;
    }
}

.socials {
    &_item {
        &-be {
            display: block;
            height: 100%;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            & svg .filpath {
                fill: #ffffff;
                transition: 0.3s ease-in-out;
            }
            &:hover svg .filpath {
                fill: $blueL;
            }
        }
    }
}

.form {
    &--name,
    &--email,
    &--message {
        position: relative;
        z-index: 10;
        width: 48%;
        display: inline-block;
        background-color: transparent;
        border: none;
        font-size: 16px;
        padding: 0 15px;
        line-height: 3.0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid $white;
        vertical-align: bottom;
        transition: 0.3s ease;
        &:hover,
        &:focus {
            border-top-color: $white;
            color: $white;
            outline: none;
        }
    }
    &--message {
        width: 100%;
    }
    &--submit {
        width: 180px;
        height: 55px;
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
        transition: 0.3s ease-in-out;
        font-size: 22px;
        cursor: pointer;
        &:hover {
            box-shadow: inset 0 0 15px $blueL;
            color: $blueL;
            border-color: $blueL;
        }
    }
}


/*
form input[placeholder],
form input::placeholder {
    outline: none;
    font-size: 14px;
    font-style: italic;
    color: #676767;
    &:focus {
        color: $white;
    }
}
*/

.input_block {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 45px;
}

.input_block label {
    display: block;
    width: 40px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
}

.input_block label span {
    display: block;
    height: 24px;
    width: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: "Lato";
    font-size: 16px;
    line-height: 1.0;
    color: $blueL;
    position: absolute;
    top: 1em;
    left: 2em;
}

.input_block:hover input+label {
    height: 12px;
}

.input_block:hover input+label span,
.input_block input:focus+label span {
    font-size: 12px;
    color: $grayMedeum;
    top: 5px;
}