.footer {
    max-width: 1920px;
    height: 100px;
    background-color: $white;
    &__container {
        max-width: 900px;
        margin: 0 auto;
        height: 100%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--logo {
            @include spritebox___4(-0px, -91px, 36px, 36px);
            height: 40px;
            margin: 0 10px 0;
        }
        &--text {
            color: $gray;
            font-family: "Conv_Lato-Regular", sans-serif;
            font-size: 14px;
        }
    }
}