.services {
    @include spritebox(-0px, -1093px, 488px, 1920px);
    margin-bottom: 120px;
    max-width: 1920px;
    max-height: 488px;
    border: none;
    padding: 64px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        margin: 0 auto;
        max-width: 900px;
        padding: 50px 70px;
        border: 2px solid $white;
        border-top: none;
        position: relative;
        &:before {
            content: '';
            width: 30%;
            max-width: 900px;
            height: 2px;
            top: 0px;
            left: 0px;
            border-top: 2px solid $white;
            position: absolute;
        }
        &:after {
            content: '';
            width: 30%;
            max-width: 900px;
            height: 2px;
            top: 0px;
            right: 0px;
            border-top: 2px solid $white;
            position: absolute;
        }
    }
    &__title {
        font-family: 'Conv_Lato-Regular', sans-serif;
        font-size: 34px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.16em;
        color: $white;
        position: absolute;
        top: -15px;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%) translateY(0);
    }
    &__text {
        margin: 20px auto;
        text-align: center;
        line-height: 1.6em;
        letter-spacing: 1px;
        color: $white;
        font-family: 'Conv_Lato-Regular';
        font-size: 14px;
        opacity: 0.8;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__text-2 {
        width: 60%;
    }
    &__text-2:last-of-type {
        padding-bottom: 50px;
    }
}